<nav class="navbar bg-dark navbar-expand-lg bg-body-tertiary border-bottom border-body mb-3" data-bs-theme="dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="../../../assets/1087815.png" alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
            PMS
        </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link active" aria-current="page" href="management/home">Inicio</a>
          <a class="nav-link" href="management/maestro">Maestro</a>
          <a class="nav-link" href="management/release">Releases</a>
          <a class="nav-link" href="management/valor">Valor</a>
          <a class="nav-link" href="maintenance">Mantenimiento</a>
          <!-- <a class="nav-link disabled" aria-disabled="true">Disabled</a> -->
        </div>
      </div>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Ingrese opción a buscar" aria-label="Search">
        <button class="btn btn-secondary" type="submit">Buscar</button>
      </form>
    </div>
  </nav>