<table class="table table-dark table-striped">
    <thead>
      <tr>
        <th scope="col">Codigo</th>
        <th scope="col">Nombre del proyecto</th>
        <th scope="col">Chapter</th>
        <th scope="col">Etapa</th>  
        <th scope="col">Estado</th>
        <th scope="col">Releases</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let proyecto of proyectos">
        <td hidden="true">{{proyecto.id_proyecto}}</td>
        <th scope="row">{{proyecto.codigo}}</th>
        <td>{{proyecto.nombre}}</td>
        <td>{{proyecto.chapter_programa}}</td>
        <td>{{proyecto.etapa}}</td>
        <td>{{proyecto.estado}}</td>
        <td>
          <button class="btn" (click)="btnRelease_Click(proyecto.id_proyecto)">
              <img src="./../../../assets/4295892.png" style="height: 30px; width: 30px;">
          </button>
        </td>
      </tr>
    </tbody>
  </table>