<table class="table table-dark table-hover">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Nombre</th>
            <th scope="col">Project Manager</th>
            <th scope="col">Estado</th>
            <th scope="col">Editar</th>
        </tr>
    </thead>
    <tbody class="table-group-divider">
        <tr *ngFor="let item of proyectos">
            <td scope="row">{{item.id_proyecto}}</td>
            <td>{{item.nombre}}</td>
            <td>{{item.pm_asignado}}</td>
            <td>{{item.estado}}</td>
            <td>
                <button class="btn btn-secondary">Editar</button>
            </td>
        </tr>
    </tbody>
</table>